/* Add styling for your page here */

.App {
    text-align: center;
    padding: 20px;
}

.BakeryItem {
    display: inline-block;
    width: 200px;
    height: 200px;
    margin: 10px;
    background-color: #fff;
    color: #000;
    padding: 10px;
    border-radius: 10px;
}
